* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    overflow-wrap: break-word
    /* justify-content: center; */
    /* align-items: center; */
}

.mainPage {
    display: grid;
    grid-template-columns: 20% 80%;
    padding-top: 20px; /* Отступ для навбара */
    min-height: 100vh; /* Минимальная высота контейнера */
    margin-top: 140px;
    width: 80%;
}

.cabinet, .devices {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.sidebar {
    position: sticky;
    top: 140px; /* Отступ сверху = высота навбара */
    height: calc(100vh - 140px); /* Высота экрана минус навбар */
}


.navbar {
    width: 100%;
    height: 140px;
    background-color: rgba(230, 237, 255, 1);
    position: fixed;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    z-index: 1000;
}

.navbar_logo {
    height: 100px;
    width: auto;
    margin-left: 25px;
}

.search_btn {
    width: 160px;
    height: 80px;
    margin: 10px;
    background-color: rgba(217, 217, 217, 1);
    border: none;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: row;
    .icon {
        width: 45px;
        height: auto;
        margin-inline: 10px;
    }
    .search {
        font-size: 24px;
        font-weight: bold;
    }
}

.doctor {
    width: 300px;
    height: 80px;
    margin: 10px;
    background-color: rgba(217, 217, 217, 1);
    border: none;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: row;
    .name {
        font-size: 24px;
        font-weight: bold;
        margin: 10px;
    }
    .icon {
        width: 40px;
        height: auto;
        margin-inline: 10px;
    }
}

.doctor__icon {
    width: 80px;
    height: 80px;
    margin: 10px;
    background-color: rgba(217, 217, 217, 1);
    border: none;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    .icon {
        width: auto;
        height: auto;
    }
}

.navbar_btns {
    display: flex;
    flex-direction: row;
    margin-right: 30px;
}

.addPatient_btn{
    height: 330px;
    border: 5px solid rgb(14, 0, 107);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center; /*   Вертикальное выравнивание   */
    justify-content: center;
    box-shadow: 0 2px 8px rgba(0,0,0,0.3);/*  Тень */
    margin: 10px;
    margin-top: 20px;
    padding: 5px;
    font-weight: bold;
    cursor: pointer;
    font-size: 32px;
}



.addNewPatient{
    display: flex;
    flex-direction: column;
    width: 80vw;
}

.addNewPatient input{
    margin-bottom: 10px;
}

.addNewPatientGenderBtns{
    margin: 5px;
    padding: 5px 15px;
    background: transparent;
    border-radius: 5px;
    cursor: pointer;
    color: rgba(98, 98, 96, 1);
    border: 1px solid rgba(98, 98, 96, 1);
}
.addNewPatientGenderBtns.Male{
    color: rgb(34, 0, 255);
    border: 1px solid rgb(34, 0, 255);
}
.addNewPatientGenderBtns.Female{
    color: rgb(255, 0, 204);
    border: 1px solid rgb(255, 0, 204);
}


.login {
    display: flex;
    width: 100vw;
    height: 100vh;
    /* position: relative; */
}

.info{
    display: flex;
    flex-direction: row;
    width: 100vw;
    /* column-count: 2; */
}

.info_left {
    width: 50%;
    height: 100%;
    background-color: rgba(224, 232, 255, 1);
    display: flex;
    position: fixed;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}
.info_right {
    margin-left: 50%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.info_mobile {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}

.regAndEnter {
    display: flex;
    width: 100%;
    height: 100%;
}

.registration, .enter {
    display: flex;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    flex-direction: column;
    padding: 30px;
}

.medicalWorkerForm h2, input, label {
    font-size: 20px;
    align-items: center;
    justify-content: center;
}
.medicalWorkerForm input{
    margin-bottom: 10px;
}
.medicalWorkerForm h2{
    text-align: center;
    margin-top: 20px;
}

.patientForm h2, input, label {
    font-size: 20px;
    align-items: center;
    justify-content: center;
}
.patientForm input{
    margin-bottom: 10px;
}
.patientForm h2{
    text-align: center;
    margin-top: 20px;
}


.enterForm h2, input, label {
    font-size: 20px;
    align-items: center;
    justify-content: center;
}
.enterForm input{
    margin-bottom: 10px;
}
.enterForm h2{
    text-align: center;
    margin-top: 20px;
}